<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>toDoList</title>
	<script type="text/javascript" src="../vue.js"></script>
</head>
<body>
    <div id="app">
    	<input type="text" name="" v-model="inputValue"/>
    	<button v-on:click="handleBtnClick()">提交</button>
    	<ul>
    		<!-- <li>vue</li>
    		<li>react</li> -->
    		<li v-for="item in list">{{ item }}</li>
    	</ul>
    </div>

    <script type="text/javascript">
    	var app=new Vue({
    		el:"#app",
    		data:{
    			list:['vue','react'],
                inputValue:"" 
    		},
    		methods:{
                handleBtnClick(){
                	// alert(this.inputValue)
                	this.list.push(this.inputValue);
                	this.inputValue="";
                }
    		}
    	})
    </script>
</body>
</html>